<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aneon.mapper.Class_projectMapper">
    <resultMap id="class_projectMapper" type="com.aneon.po.Class_project">
        <id column="Cnumber" property="Cnumber" jdbcType="INTEGER"/>
        <id column="Pnumber" property="Pnumber" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getAllClass_project" resultMap="class_projectMapper" >
        select *
        from class_project
    </select>

    <select id="getProjectByClass" resultMap="class_projectMapper">
        select  *
        from class_project
        where Cnumber = #{Cnumber}
    </select>

    <select id="getClassByProject" resultMap="class_projectMapper">
        select  *
        from class_project
        where Pnumber = #{Pnumber}
    </select>

    <insert id="addClass_project" parameterType="com.aneon.po.Class_project">
        insert into class_project
        ( Cnumber,Pnumber)
        values  (#{Cnumber},#{Pnumber})
    </insert>
</mapper>