<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aneon.mapper.ProjectMapper">
    <resultMap id="projectMapper" type="com.aneon.po.Project">
        <id column="Pnumber" property="Pnumber" jdbcType="VARCHAR"/>
        <result column="Pname" property="Pname" jdbcType="VARCHAR"/>
        <result column="UpTime" property="UpTime" jdbcType="DATE"/>
        <result column="Info" property="Info" jdbcType="VARCHAR"/>
        <result column="isPass" property="isPass" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="addProject" parameterType="com.aneon.po.Project">
        insert INTO project (Pname,Uptime,Info,isPass)
        values (#{Pname},#{UpTime},#{Info},#{isPass})
    </insert>

    <update id="updateProject" parameterType="com.aneon.po.Project">
        update project
        set
          Pname = #{Pname},
          Info = #{Info},
          isPass = #{isPass}
        where  Pnumber = #{Pnumber}
    </update>

    <delete id="deleteProject">
        delete from project where Pnumber = #{Pnumber}
    </delete>

    <select id="selectProject" resultMap="projectMapper">
        select
          *
        from project
        where Pnumber = #{Pnumber}
    </select>

    <select id="getAllProject" resultMap="projectMapper">
        select *
        from project
    </select>
</mapper>