<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aneon.mapper.StudentMapper">
    <resultMap id="studentMapper" type="com.aneon.po.Student">
        <id column="Snumber" property="Snumber" jdbcType="VARCHAR"/>
        <result column="Sname" property="Sname" jdbcType="VARCHAR"/>
        <result column="Spass" property="Spass" jdbcType="VARCHAR"/>
        <result column="Gnumber" property="Gnumber" jdbcType="INTEGER"/>
        <result column="Cnumber" property="Cnumbera" jdbcType="INTEGER"/>
        <result column="Tnumber" property="Tnumber" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseStudent">
        Snumber, Sname, Spass, Gnumber, Cnumber, Tnumber
    </sql>

    <select id="selectStudent" resultMap="studentMapper">
        select
        <include refid="baseStudent"></include>
        from student
        where Snumber = #{Snumber,jdbcType = VARCHAR}
    </select>
    
    <insert id="addStudent">
        insert into student (Snumber,Sname,Spass)
        values (#{Snumber,jdbcType=VARCHAR},#{Sname,jdbcType = VARCHAR},#{Spass,jdbcType = VARCHAR})
    </insert>
    
    <update id="updateStudent">
        update student
        set
          Sname = #{Sname,jdbcType = VARCHAR},
          Spass = #{Spass,jdbcType = VARCHAR},
          Gnumber = #{Gnumber,jdbcType = INTEGER},
          Cnumber = #{Cnumber,jdbcType = INTEGER},
          Tnumber = #{Tnumber,jdbcType = INTEGER}
         where
          Snumber = #{Snumber,jdbcType = VARCHAR}
    </update>

    <select id="getAllStudent" resultMap="studentMapper">
        select * from student
    </select>
</mapper>