<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aneon.mapper.StudentMapper">
    <resultMap id="studentMapper" type="com.aneon.po.Student">
        <id column="Snumber" property="username" jdbcType="VARCHAR"/>
        <result column="Sname" property="name" jdbcType="VARCHAR"/>
        <result column="Gnumber" property="Gnumber" jdbcType="INTEGER"/>
        <result column="Cnumber" property="Cnumber" jdbcType="INTEGER"/>
        <result column="Tnumber" property="Tnumber" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseStudent">
        Snumber, Sname, Gnumber, Cnumber, Tnumber
    </sql>

    <select id="selectStudent" resultMap="studentMapper">
        select
        <include refid="baseStudent"></include>
        from student
        where Snumber = #{Snumber,jdbcType = VARCHAR}
    </select>

    <select id="selectStuCnumberById" resultMap="studentMapper">
        select Cnumber
        from student
        where Snumber= #{Snumber,jdbcType = VARCHAR}
    </select>

    <select id="selectStuByIdOrName" resultMap="studentMapper">
        select Snumber, Sname, Gnumber, Cnumber, Tnumber
        from student
        where Snumber like '${snumOrSname}%' or Sname like '%${snumOrSname}%'
    </select>

    <select id="selectStuByClassId" resultMap="studentMapper">
        select Snumber,Sname,Gnumber
        from student
        where Cnumber = #{Cnumber,jdbcType = INTEGER}
    </select>

    <insert id="addStudent">
        insert into student (Snumber,Sname,Spass)
        values (#{Snumber,jdbcType=VARCHAR},#{Sname,jdbcType = VARCHAR},#{Spass,jdbcType = VARCHAR})
    </insert>

    <update id="updateStuCnumber" >
        update student
        set
          Cnumber = #{Cnumber,jdbcType = INTEGER}
        where
          Snumber = #{Snumber,jdbcType = VARCHAR}
    </update>

    <update id="updateStuGnumber">
        update student
        set
          Gnumber = #{Gnumber,jdbcType = INTEGER}
        where
          Snumber = #{Snumber,jdbcType = VARCHAR}
    </update>

    <update id="updateStudent">
        update student
        set
          Sname = #{Sname,jdbcType = VARCHAR},
          Spass = #{Spass,jdbcType = VARCHAR}
         where
          Snumber = #{Snumber,jdbcType = VARCHAR}
    </update>

    <select id="getAllStudent" resultMap="studentMapper">
        select Snumber, Sname, Gnumber, Cnumber, Tnumber from student
    </select>
</mapper>